
.idea/
*.sqlite3
learning_log/__pycache__/
learning_logs/__pycache__/
users/__pycache__/
ll_env/bin/
ll_env/include/
ll_env/lib/python3.6/site-packages/Django-1.11.7.dist-info/
ll_env/lib/python3.6/site-packages/__pycache__/
ll_env/lib/python3.6/site-packages/django/
ll_env/lib/python3.6/site-packages/easy_install.py
ll_env/lib/python3.6/site-packages/pip-9.0.1.dist-info/
ll_env/lib/python3.6/site-packages/pip/
ll_env/lib/python3.6/site-packages/pkg_resources/
ll_env/lib/python3.6/site-packages/pytz-2017.3.dist-info/
ll_env/lib/python3.6/site-packages/pytz/
ll_env/lib/python3.6/site-packages/setuptools-28.8.0.dist-info/
ll_env/lib/python3.6/site-packages/setuptools/
ll_env/pip-selfcheck.json
ll_env/pyvenv.cfg