altgraph==0.14
Babel==2.5.1
certifi==2017.11.5
chardet==3.0.4
cycler==0.10.0
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.11.7
django-bootstrap3==9.1.0
django-bootstrap4==0.0.4
future==0.16.0
gunicorn==19.7.1
i18n==0.2
idna==2.6
macholib==1.8
matplotlib==2.1.0
mpmath==1.0.0
numpy==1.13.3
pefile==2017.11.5
py==1.4.34
pygal==2.4.0
pygal-maps-world==1.0.2
PyInstaller==3.3
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.4
six==1.11.0
static3==0.7.0
sympy==1.1.1
urllib3==1.22
psycopg2>=2.6.1
